@charset "UTF-8";

h1{
    color: blue;
    font-size: 50px;
    text-align: center;
}

body {
    background-color: #F0F2F5;
}

main {
    background-color: white;
    text-align: center;
    width: 500px;
    padding: 10px;
    margin: auto 400px;
    border-radius: 20px;
}
